REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=zFcJCjWHXChBUzFfQPUCaBSqXGbWDYOUMnWbLAOeLiIdIazmVRPKdXnkRyciRehGnbXUHWuUCajMdGAdvcUWUMOssXdnqqdF

# Service URLs (Docker internal network)
GATEWAY_SERVICE_URL=http://gateway-service:3000
RATE_LIMITER_SERVICE_URL=http://rate-limiter-service:3001
ADMIN_SERVICE_URL=http://admin-service:3002
ANALYTICS_SERVICE_URL=http://analytics-service:3003
BACKEND_SERVICE_URL=http://backend-service:5000

# Frontend URLs (Browser accessible)
NEXT_PUBLIC_API_URL=http://localhost:3002
NEXT_PUBLIC_GATEWAY_URL=http://localhost:3000

# Node Environment
NODE_ENV=development
